<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> <!--skip-->
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../easyrtc/easyrtc.css" />

    <!--hide-->
    <link rel="stylesheet" type="text/css" href="css/landing.css" />

    <!-- Prettify Code -->
    <script type="text/javascript" src="js/prettify/prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="js/prettify/prettify.css" />
    <script type="text/javascript" src="js/prettify/loadAndFilter.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!--show-->
    <!-- Assumes global locations for socket.io.js and easyrtc.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../easyrtc/easyrtc.js"></script>
    <script type="text/javascript" src="js/demo_instant_messaging_rooms.js"></script>

    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/all-skins.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vue.js"></script>
    <script src="js/login.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/demo_instant_messaging_rooms.js"></script>
    
</head>
<body class="hold-transition login-page">
    <div class="login-box" id="rrapp">
        <div class="login-logo">
              <p id="Text">欢迎登录</p>
              <p id="TextII">语音会议系统</p>
        </div>
        <div class="login-box-body">
            <div class="form-group has-feedback">
              <input type="text" id="user" class="form-control" placeholder="请输入用户名" onblur="Pclogin()">
            </div>
            <div class="form-group has-feedback">
              <input type="password" id="PasswordI" class="form-control" placeholder="请输入密码" onblur="PcloginI()">
            </div>
            <h4 id="Loginhive" style="display: none;"><i class="fa fa-exclamation-triangle"></i></h4>
            <div class="row">
                <div class="col-xs-4">
                  <button type="button" class="btn btn-primary btn-block btn-flat" onclick="login();connect()">登录</button>
                  <button type="button" class="btn btn-primary btn-block btn-flat"  data-toggle="modal" data-target="#myModal">注册</button>
                </div>
            </div>
        </div>
    </div>
  
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">注册</h4>
            </div>
            <div class="modal-body">
              <div class="form-group has-feedback">
                <input type="text" id="reg_username" class="form-control" v-model="username1" placeholder="请输入用户名">
              </div>
              <div class="form-group has-feedback">
                <input type="password" id="reg_passwordI" class="form-control" v-model="password1" placeholder="请输入密码" >
              </div>
              <div class="form-group has-feedback">
                <input type="password" id="reg_passwordII" class="form-control" v-model="password2" placeholder="请输入密码" >
              </div>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="reg_submit();">提交注册</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

    
</body>
</html>